<main class="main">
  <div class="inner">
    <div class="list__wrapper">
      <p class="list__hedding">
        <%= @list.title%>
      </p>
      <%= link_to "by #{current_user.nickname}", user_path(@list.user), class: :list__user %>
      <% if user_signed_in? && current_user.id == @list.user_id %>
        <div class="list__manage">
          <%= link_to "編集する", edit_list_path(@list), class: :list__btn %>
          <%= link_to "削除する", list_path(@list), class: :list__btn %>
        </div>
      <% end %>
      <div class="list__image">
        <%= image_tag @list.image %>
      </div>
      <%# <div class="list__body">
        <div class="list__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= "プロトタイプのキャッチコピー" %>
          <%# </p>
        </div> %>
        <div class="list__detail">
          <p class="detail__title">詳細</p>
          <p class="detail__message">
            <%= @list.detail %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <%# <% if user_signed_in? %>
            <%# <%= form_with model: list,local: true do |f|%>
            <%# <div class="field">
              <%= f.label :hoge, "コメント" %><br />
              <%# <%= f.text_field :hoge, id:"comment_content" %>
            <%# </div> %>
            <%# <div class="actions"> %>
              <%# <%= f.submit "送信する", class: :form__btn  %> %>
            <%# </div> %>
            <%# <% end %> 
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
              <%# <%= " コメントのテキスト "%>
              <%# <%= link_to "（ ユーザー名 ）", root_path, class: :comment_user %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
